.mainContainerItem:nth-child(2) {
border: 1px solid green;
background-color:black;
color: green;
font-family: terminal;
border-radius:1em;
display: flex;
flex-flow: column nowrap;
justify-content: flex-start;

}


.mainContainerItem:nth-child(2) h2 {
    margin-top:1em;
    background-color:green;
    color: black;
    text-align:center;
    padding: 0em 0.25em 0em 0.25em;
    overflow-y: auto;
}

.stats {
    /* align-self: flex-start; */
    padding: 1em;
    margin:1em;
    color: black;
    background-color: green;
   
}

.summary-goal{
    width:90%;
    display: flex;
    flex-flow: row wrap;
}

.summary-goal > div {
    flex: 1;
    color: green;
}

.summary-goal > div h3{
    text-align: center;
    font-size: 2.5em;
}

.summary-goal > div p {
    font-size: 1.5em;
    padding: 1.5em;
}


@media only screen and (max-width: 800px) {
    .summary-goal {
        flex-flow: column wrap;
    }



  }
