.mainContainer {
    background-color: #1e2022;
    /* background-color:gray; */
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.mainContainerItem {
    /* border: 3px dotted white; */
    color: white;
    flex: 1;
}
.mainContainerItem:not(:first-child) {
    flex: 1 1 30%;
}










@media only screen and (max-width: 600px) {
.mainContainer {
    flex-flow: column wrap;
}
}
