.prj-modal-ovl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-modal-container {
    position: relative;
    background-color:black;
    border: 2px solid green;
    width: 75vw;
    height: 75vh;
    animation: textShadow 250s infinite;

    
}

.project-modal-container > .project-main-container {
    background-color: black;
    width: 100%;
    height: 100%;
    color: green;
    font-family: terminal;

    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}
.flex-item {
    flex: 1;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin:0.25em;
}
/* target second flex item */
.flex-item:nth-child(2) {
    justify-content: center;
}

/* .flex-item:first-child > h2:first-of-type{
   background-color:green;
   color:black; 
   margin-top:1.5em;
   padding: 0.5em;
} */
.flex-item:first-child > section:first-child > h2:first-of-type {
  background-color:green;
  color:black; 
  margin-top:1.5em;
  padding: 0.5em;

}

#leftAnimation2 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#rightAnimation {
  width: 100%;
  height: 75%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

}


.flex-item > p {
    font-size: 1.5em;
    padding: 0.25em;
    margin: 0.25em;
    text-align: center;
}

/* technology container and items */

.technologies-container {
    width: 75%;
    margin: 0.25em;
    padding: 1em;   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.technology-item {
    border: 1px solid green;
    flex: 0 1 auto;
    text-align: center;
    margin: 6px;
    font-size: 1.25em;;
    padding: 4px;

}  

.slider-container {
    width: 75% !important;
    --organic-arrow-color: #008000 !important;
    --control-bullet-color:  #008000 !important;
    --control-bullet-active-color: #79FF00 !important;
    --loader-bar-color: #79FF00 !important;
    --loader-bar-height: 6px !important;
    --slider-transition-duration: 500ms !important;
}

.flex-item:nth-child(2)  .awssld > .awssld__wrapper > .awssld__container > .awssld__box > .awssld__content > img {
    object-fit: contain;
  }
  
  




.prj-exit {
    position: absolute !important;
    color: red;
    font-size:2em;
    font-family: terminal;
    right: 0.5em;
    cursor: pointer;
    z-index: 2;
}

.project-modal-container > h2 {
    margin-top: 1em;
    color: black;
    background-color: green;
    padding: 0.25em;
}

.project-links {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin-top: 5%;
}
.project-links a {
    color: inherit;
    text-decoration: none;
}
.project-links  h2 {
    font-size: 2.3em;
    background-color:green;
    color: black;
    padding:0.25em;
    border-radius: 0.25em;
}


.project-modal-container:not(:first-child)::after {
    background: rgba(18, 16, 16, 0.1) !important;
    opacity: 0 !important;
    pointer-events: none !important;
}
.project-modal-container:not(:first-child)::before {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)) !important;
    background-size: 100% 2px, 3px 100% !important;
    pointer-events: none;
}

.title {
  margin-bottom: 2em;
}

@keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 2px 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.75), -2.7928974010788217px 2px 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 2px 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.75), -0.40218538552878136px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.75), -1.6125630401149584px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.75), -3.896914047650351px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.75), -2.231056963361899px -2px 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px -2px 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.75), -2.3758461067427543px -2px 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px -2px 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.75), -2.8638780614874975px -2px 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.75), -1.8948491305757957px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.75), -0.09769827255241735px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.75), -2.1841838852799786px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.53), 0 0 3px;
    }
  }



@media only screen and (max-width: 800px) {
  .project-modal-container {
    width: 95vw;
    height: 95vh;
  }
}

@media only screen and (max-width: 1200px) {

.project-modal-container > h2{
    margin-top: 1.5em;
}
.project-modal-container > .project-main-container {
    flex-flow:column nowrap;
    
}
.slider-container {
    width: 75% !important;
    height: 75% !important;
    margin-top: 10%;
}


}
/* 1440p screens */
@media only screen  and (min-width: 2560px) {
  .title {
    margin-bottom: 3em;
  }
    .project-links {
        margin-top: 15%;
    }
    .project-modal-container > h2{
        font-size:125%;
    }
    .project-modal-container > .project-main-container {
        font-size:115%;
        
    }


}