*:focus {
    outline: none !important;
}

.lg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0); */



    display: flex;
    justify-content: center;
    align-items: center;
}

.container-email-form {
    position: relative;
}

.form-wrapper {
    padding:1em;
}

.form-wrapper {
    position: relative;
    background-color:black;
    border: 2px solid orange;
    
    display: flex;
    flex-flow: column nowrap;
    width: 50vw;
    height: 50vh;
    align-items: center;
    color: orange;
    font-family:terminal; 
}
.form-wrapper small {
    position: absolute;
    right: 0.5em;
    top: 0.1em;
    font-size:1.5em;
    color: red;
    cursor: pointer;
}
.email-form {
    /* border: 1px solid green; */
    display: flex;
    flex-flow: row wrap;
    font-size:1.5em;
}

.form-group > input {
    border: 2px solid orange;
    border-radius: 0px;
    background-color:black;
    color: green !important;
    font-size: 1em;
}

.form-control:focus {
  background-color: black;
  border-color: #28a745;
  box-shadow:  none;
 
}

.form-item {
    flex: 1;
    align-items: start;
}
.form-item button {
    background-color: orange;
    border: 2px solid green;
    width:4em;
    cursor: pointer;
    margin: 0 auto 0 auto;
}

.form-item textarea {
    background-color:black;
    border: 1px solid orange;
    color: green !important;
    font-size:1em;
}


@media only screen and (max-width: 1120px) {
    .form-item {
       
        align-items: center;
    }
    
   .form-wrapper {
       width:80vw;
       height: 75vh;
   }
   .form-wrapper small {
    font-size:1.2em;
}
    .email-form {
        flex-flow: column wrap;
    }

    .form-item button {
        width: 6em;
    }

}

