.lg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0); */



    display: flex;
    justify-content: center;
    align-items: center;
}

.container-email-form {
    position: relative;
}
.form-wrapper {
    position: relative;
    background-color:black;
    border: 2px solid orange;

    display: flex;
    flex-flow: column nowrap;
    width: 50vw;
    height: 50vh;
    align-items: center;
    color: orange;
    font-family:terminal;
    
}
.form-wrapper small {
    position: absolute;
    right: 0.5em;
    top: 0.1em;
    font-size:1.5em;
    color: red;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
   .form-wrapper {
       width:80vw;
       height: 75vh;
   }
   .form-wrapper small {
    font-size:1.2em;
}
}

