.mainContainerItem {
display:flex;
flex-flow: column wrap;
justify-content: flex-start;
align-items: center;
}
.computer {
    position: relative;
    background-color:black;
    border: 2px solid green;
    height: 90%;
    width: 85%;
    border-radius:1em;
    margin-top: 7.5%;
    padding: 1em;
    /* make it flex */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.computer h2 {
    color:green;
    font-family: terminal;
    font-size:1.5em;
    padding-bottom: 0.5em;
    border-bottom:3px dotted green;
}

.computer h3 {
    color:green;
    font-family: terminal;
    font-size:1.75em;
    padding-bottom: 0.5em;
}

.computer > .computer-contacts {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: auto;
    width: 92%;
    height: 10%;
    border: 3px dotted green;
    /* make it flex */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
