.mainContainerItem {
display:flex;
flex-flow: column wrap;
justify-content: flex-start;
align-items: center;
}
.computer {
    position: relative;
    background-color:black;
    border: 2px solid green;
    height: 90%;
    width: 85%;
    border-radius:1em;
    margin-top: 7.5%;
    padding: 1em;
    /* make it flex */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

}
.computer h2 {
    color:green;
    font-family: terminal;
    font-size:1.5em;
    padding-bottom: 0.5em;
    border-bottom:3px dotted green;
}


.computer >.nav-and-contacts {
    margin-top:3em;
    display: flex;
    flex-flow: column nowrap;
    
}
.computer > .nav-and-contacts > .computer-contacts {
    color: green;
    font-family: terminal;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    position: absolute;
    bottom:15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}




.computer > .nav-and-contacts > .nav-collection h3 {
    color:green;
    font-family: terminal;
    font-size:1.75em;
    padding-bottom: 0.5em;
    text-align:center;
}
.computer > .nav-and-contacts > .nav-collection {
    margin-top:30%;
}

.links {
    margin: 0em 0.75em 0em 0.75em;
    color: green;
}
.link-collection a:hover {
    text-decoration: none;
}



@media only screen and (max-width: 800px) {
    .computer {
        margin-top: 1em;
    }
    .computer > .nav-and-contacts {
        display: flex;
        flex-flow: row nowrap;
    }
    .computer > .nav-and-contacts > .nav-collection {
        margin-top: -3em;
        margin-right:40%;
       
    }
    .computer > .nav-and-contacts > .nav-collection h3 {
        text-align: left;
    }

    .computer > .nav-and-contacts > .computer-contacts {
    position: static;
    display: flex;
    flex-flow: column wrap;
    }

    .link-collection {
        margin-top:-1.5em;
    }

    .links {
        display: block;
        margin: 0.5em;
    }

   

 



  }

