.projects-container {
    position: relative;

    display: flex ;
    flex-flow: row wrap !important;
    align-content: flex-start;
    overflow: auto;
    padding: 2.5em;

    
}

.project-item {
    border: 1px solid green;
    flex: 2 1 30%;
    height:20%;
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.project-item small {
    font-size:1.25em;
    cursor: pointer;
    margin-top:2em;
}

.project-item small:hover {
    text-decoration: underline;
    text-underline-offset: 0.25em;
}








@media only screen and (max-width: 1000px) { 


.project-item {
    flex: 1 1 100% !important;
}
.project-item h2 {
    font-size: 1.5em;
}
.project-item small {
    margin-top: 0em;
}



}

@media only screen  and (min-width: 2560px) { 

    .project-item {
        font-size: 150%;
    }
    .project-item h2 {
        font-size: 120%;
    }


}