.projects-container {
    position: relative;

    display: flex !important;
    flex-flow: row wrap !important;
    align-content: start !important;
    overflow: auto;

    
}

.project-item {
    border: 1px solid green;
    flex: 2 1 30% !important;
    height:25%;
    margin: 1em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}








@media only screen and (max-width: 1000px) { 


.project-item {
    flex: 1 1 100% !important;
}



}