.projects-container {
    border: 1px solid green;
    width: 95%;
    height: 90%;

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    overflow: auto;
}

.project-item {
    flex: 1 1 30%;
    border: 1px solid green;
    margin: 0.75em;
    height: 30%;
    
    /* each item is a d-flex */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    
}


@media only screen and (max-width: 800px) { 

    .projects-container {
        flex-flow: column nowrap;
    }



}